version: "3"
services:
  db:
    image: mysql:x.x
    container_name: xxxx-db
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'no'
      MYSQL_ROOT_PASSWORD: pass1234
      MYSQL_DATABASE: magento2
    volumes:
      - xxx-db:/var/lib/mysql
    networks:
      magento_net:
        ipv4_address: 192.168.101.10
    logging:
      driver: json-file
  web:
    build: ./apache2/phpx.x
    image: magento:x.x-apache
    container_name: xxxx-web
    links:
      - db
    volumes:
      - ./apache2/magento.conf:/etc/apache2/sites-enabled/magento.conf
      - ./magento:/var/www/magento:cached
      - ./apache2/phpx.x/php.ini:/usr/local/etc/php/php.ini
      - xxx-composer:/root/.composer
    depends_on:
      - db
    networks:
      magento_net:
        ipv4_address: 192.168.101.20
    logging:
      driver: json-file
volumes:
  xxx-db:
  xxx-composer:
networks:
  magento_net:
    ipam:
      config:
        - subnet: 192.168.101.1/24
